.keyboard {
  width: 100%;
  margin: 1rem;
}
.keyboard .line {
  display: flex;
  justify-content: center;
}
.key {
  font-size: 14px;
  margin: 0.2em;
  min-width: 2em;
  height: 2em;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0.2em;
  padding: 0.3em 0.5em;
}
.backlight {
  animation: key-pressed 0.5s;
}
@keyframes key-pressed {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.3);
  }
  100% {
    box-shadow: none;
  }
}
